.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vh;
  height: 7vh;
  border: none;
  border-radius: 1vh;
  background: var(--primary-50);
  font-size: 6vh;
  line-height: 6vh;
  color: var(--white);
  box-shadow: 2px 4px 4px var(--primary-300);

  &:active {
    box-shadow: 1px 1px 1px var(--primary-400);
    transform: translateY(2px);
  }
}
