.footer {
  width: 100%;
  height: 8vh;
  border-top: 1px solid var(--primary-500);
  background-color: var(--primary-500);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 2.8vh;

    span {
      margin-right: 0.4vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo {
    height: 5vh;
    margin-left: 0.4vw;
    img {
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
    }
  }
}

/* Caso seja dispositivo com baixa resolução não exibe rodapé */
@media (max-width: 720px) {
  .footer {
    height: 0;
    border: none;
    a {
      font-size: 0;
    }
    .logo {
      img {
        width: 0;
        height: 0;
      }
    }
  }
}
